.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
} 

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
    justify-content: center;
}
.orange{
    background-color: orangered;
    color: white;
}

.text-color{
    color: orangered;
}